.CustomModal-Description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 24px;
}

.CustomModal-Title {
    margin: 0;

    font-family: 'ALSHauss', Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 680;
    line-height: 32px;
    color: #ffffff !important;
}

.CustomModal-TitleId {
    margin: 0;

    font-family: 'ALSHauss', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 440;
    line-height: 20px;
    color: #767386;
}

.CustomModal-CloseButton {
    position: absolute;
    top: 0;
    right: 0;

    width: 44px;
    height: 44px;

    text-align: center;
}

.CustomModal-CloseButton::before {
    content: '';

    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    opacity: 0;
    background: radial-gradient(circle, #ffffff30 0%, transparent 80%);

    transition: opacity 0.3s ease;
}

.CustomModal-CloseButton:hover::before {
    opacity: 1;
}

.CustomModal-CloseButton svg {
    width: 100%;
    height: 100%;
    fill: #ffffff;
    transition: fill 0.3s ease;
}

.CustomModal-CloseButton:hover svg {
    fill: #ffffff00;
}

.CustomModal-Form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.CustomModal-Label {
    font-family: 'ALSHauss', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 560;
    line-height: 16px;
    color: #767386;
}

.CustomModal-GroupButton {
    display: flex;
    gap: 12px;

    max-width: 184px;
    height: 36px;
    margin-top: 12px;
}
