.SearchInput {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    width: 360px;
    padding: 5px;

    background-color: #ffffff14;
    border-radius: 14px;
}



.SearchInput-Input {
    flex: 1;

    width: 152px;
    padding: 0 12px;

    font-family: 'ALSHauss', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 440;
    line-height: 20px;

    background: transparent;
    border: none;
    outline: none;
}

