.NavBar {
    display: flex;
    gap: 2px;
    justify-content: space-evenly;

    max-width: 486px;
    margin: 0;
    padding: 0;

    background-color: #ffffff14;
    border-radius: 10px;
}

.NavBar-Link {
    padding: 7px;

    font-family: 'ALSHauss', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 560;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;

    border-radius: 10px;
}

.NavBar-Link:hover {
    background-color: #4d4c51;
}

.NavBar-Link.active {
    color: #000000;
    background-color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
