.TableView {
    max-width: 1226px;
}

table {
    border-spacing: 0 10px;
    border-collapse: separate;
    text-indent: 0;
}

/* tr {
    display: table-row-group;
    vertical-align: baseline;
    unicode-bidi: normal;
    border-color: transparent;
    margin: 8px;
} */

.TableHead-Cell {
    box-sizing: border-box;
    padding: 0 4px;

    font-family: 'ALSHauss', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 560;
    line-height: 20px;
    color: #ffffff;
}

.TableView-TheadCell {
    box-sizing: border-box;
    padding: 8px;

    font-family: 'ALSHauss', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 560;
    line-height: 20px;
    color: #ffffff;
    text-align: left;
}

.TableView-TbodyCell {
    box-sizing: border-box;
    padding: 8px;

    font-family: 'ALSHauss', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 560;
    line-height: 20px;
    color: #ffffff;
    text-overflow: ellipsis;
}

.TableView-TbodyRow {
    overflow: hidden; /* Важно для некоторых браузеров */

    box-sizing: border-box;
    height: 75px;

    background-color: #ffffff14;
    border-radius: 14px;
}

.TableView-TbodyRow:hover {
    background-color: #ffffff3d;
}

.TableView-AddressDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.TableView-AddressFull {
    font-size: 13px;
    line-height: 16px;
    opacity: 0.4;
}
