.TableHead-Row {
    display: flex;
    gap: 2px;
    width: 1226px;
}

.TableHead-Cell {
    box-sizing: border-box;
    padding: 0 4px;

    font-family: 'ALSHauss', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 560;
    line-height: 20px;
    color: #ffffff;
}
