.Supplies {
    margin: 30px 0;
}

.Supplies-Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1226px;
    height: 40px;
    padding: 2px;
}

.Supplies-Title {
    max-width: 626px;
}

.Supplies-TitleText {
    margin: 0;

    font-size: 32px;
    font-weight: 680;
    line-height: 40px;
    color: #ffffff;
}

.Supplies-ActionMenu {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.Supplies-AddSupply {
    height: 100%;
}

.Supplies-Content {
    font-family: 'ALSHauss', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 560;
    line-height: 20px;

}

.Supplies-ContentLoading {
    margin-top: 50px;
    color: #cef9d9;
}

.ContentInfo {
    margin-top: 50px;
    color: #ffffff;
}

.Supplies-ContentError {
    margin-top: 50px;
    color: #ed5d5d;
}
